<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>

<title>Eventos</title>

</head>

<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" action="/evento">
		<div class="card w-75">
			<div class="card-header text-center text-white">
				<h2 class="new-header">Novo Evento</h2>
			</div>
			<div class="card-body card-bordered text-right">
				<div class="form-group row">
					<label for="nomeEvento" class="col-4 control-label col-form-label">Evento</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nomeEvento"
							name="nomeEvento">
					</div>
				</div>
				<div class="form-group row">
					<label for="capacidade" class="col-4 control-label col-form-label">Capacidade</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="capacidade"
							name="capacidade">
					</div>
				</div>
				<div class="form-group row">
					<label for="dataEvento" class="col-4 control-label col-form-label">Data</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="dataEvento"
							name="dataEvento">
					</div>
				</div>
				<div class="form-group row">
					<label for="valorIngresso"
						class="col-4 control-label col-form-label">Valor do
						Ingresso</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="valorIngresso"
							name="valorIngresso">
					</div>
				</div>
				<div class="form-group row">
					<label for="genero" class="col-4 control-label col-form-label">Gênero
						Musical</label>
					<div class="col-sm-3">
						<select class="form-control" name="genero">
							<option value="ROCK">Rock
							</option>
						</select>
						<!-- <select class="form-control" name="genero">
							<option th:each="genero : ${todosGeneros}" th:value="${genero}" th:text="${genero.genero}"> </option> 
						</select> -->
					</div>
				</div>
				<div class="form-group row">
					<div class="col-6">
						<button type="submit" class="btn btn-primary btn-enviar">Enviar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

</html>