<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>

<title>Home</title>

</head>

<section layout:fragment="conteudo">


	<!-- Flickity HTML init -->
	<form class="form-horizontal" method="POST" action="/home">
	<div class="gallery js-flickity"
		data-flickity-options='{ "wrapAround": true }'>
		<div class="gallery-cell" th:each="evento : ${eventos}">
			<div class="div-gallery">

				<label class="show" th:text="${evento.nomeEvento}"></label> <br>
				<div class="dados-show">
				<label>Ingresso: </label> <label
					th:text="|R$ ${{evento.valorIngresso}}|"></label> <br> <label>Data:
				</label> <label th:text="${{evento.dataEvento}}"></label> <br> <label>Local:
				</label> <label th:text="${evento.casaShow.nomeCasa}"></label> <br> <label>Ingressos
					Restantes: </label> <label th:text="${{evento.capacidade}}"></label> <br>
				</div>
				 <button class="btn btn-primary btn-enviar btn-comprar">Comprar</button>
			</div>

		</div>

	</div>
	<div class="gallery js-flickity" th:if="${#lists.isEmpty(eventos)}"
		data-flickity-options='{ "wrapAround": true }'>
		<div class="gallery-cell">
			<div class="div-gallery no-event">
				<label class="show"> Nenhum Evento disponível :( </label>
			</div>
		</div>
	</div>

</form>

</section>

</html>